body {
    background-color: #5E5F61;
    background-image: linear-gradient(to top, #5E5F61, #77797A);
    background-repeat: no-repeat;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    border: solid 2px black;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    text-align: center;
    box-shadow: 0px 10px 25px black;
}

#link, #copy {
    position: relative;
}

header {
    border-bottom: solid 2px black;
    text-align: left;
    padding: 10px;
    height: 80px;
    position: relative;
}

footer {
    height: 40px;
    font-size: 10px;
    font-style: italic;
    text-align: center;
    padding: 1em;
    background-color: #681E28;
    color: white;
}

p {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    display: block;
    margin: 5px;
    width: 95%;
    max-width: 350px;
    /*    margin-left: auto;
        margin-right: auto;*/
}

.postButton {
    padding: 0px;
    max-width: 25px;
    border: none;
}

.postform {display: inline-block;}

input[type=text], input[type=password], input[type=email] {
    width: 50%;
}

textarea {
    resize: none;
    width: 80%;
}

ul {
    /*  flex-wrap: wrap;*/
    flex-direction: column;
    display: flex;
    height: 50vh;
    overflow-y: scroll;
    margin: 0px;
}

li {
    flex: 1 0 25%;
    text-align: left;
    list-style-type: none;
}

#customHeight {height: 1000px;}

#greenText {color: green;}
#redText {color: red;}

#left{text-align: left; padding-left: 1px;}
#leftAlign{text-align: left;}

#right {float: right; width: 50%;}
#left {margin-right: 50%;}

a {
    text-decoration: none;
    transition: 0.5s;
}
a:link {
    color: #B51B24;
}
a:visited {
    color: #B51B24;
}
a:hover {
    color: #77797A;
    border-bottom: 1px solid;
}

/* Tablet layout */
@media only screen and (max-width: 1300px) {

    #wrapper {
        width: 80%;
    }

}

/* Phone layout */
@media only all and (max-width: 1000px) {

    h1, h2, h3, p, nav, label, input, button {
        font-size: 1.5em;
    }

    header {
        font-size: 1.5em;
    }

    .postButton {
        max-width: 25px;
    }

    body {
        margin: 0px;
    }

    #wrapper {
        border: none;
        width: 100%;
        box-shadow: none;
    }

    footer {
        height: 50px;
        font-size: 15px;
    }

    ul {
        /*  flex-wrap: wrap;*/
/*        flex-direction: column;
        display: flex;*/
        height: auto;
/*        overflow-y: scroll;
        margin: 0px;*/
    }

/*    li {
        flex: 1 0 25%;
        text-align: left;
        list-style-type: none;
    }*/

    #copy{ font-size: 10px;}

    #customHeight {height: auto;}

    #left{text-align: center; padding-left: 1px;}
    #leftAlign{text-align: center;}

    #right {float: none; width: 100%;}
    #left {margin-right: auto;}

}